
@{
    ViewBag.Title = "Messenger";
}

@section navBar{
    <li id="newGroupItem" class="nav-item">
        <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
                <input id="groupName" class="form-control" type="text" placeholder="New Group...">
                <span class="input-group-append">
                    <button id="joinGroup" class="btn btn-primary" type="button">
                        <i class="fa fa-group"></i>
                    </button>
                </span>
            </div>
        </form>
    </li>
    <li id="newUserItem" class="nav-item">
        <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
                <input id="username" class="form-control" type="text" placeholder="Your Name...">
                <span class="input-group-append">
                    <button id="registerBtn" class="btn btn-primary" type="button">
                        <i class="fa fa-registered"></i>
                    </button>
                </span>
            </div>
        </form>
    </li>
    <li id="usernameItem" class="nav-item">
        <span class="nav-link">
            <i class="fa fa-fw fa-sign-out"></i><span id="clientName"></span>
        </span>
    </li>
}

<div class="container-fluid" style="padding-bottom: 20px;">
    <div id="chatContainer" class="container clearfix">
        <div class="people-list" id="people-list">
            <ul class="list"></ul>
            <hr />
            <ul class="list-groups"></ul>
        </div>
        <div id="chatBox" class="chat">
            <div class="chat-header clearfix">
                @*<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar">*@
                <div class="chat-about">
                    <div class="chat-with">Chat with Vincent Porter</div>
                    @*     <div class="chat-num-messages">already 1 902 messages</div>*@
                </div>
                @*<i class="fa fa-star"></i>*@
            </div>
            <!-- end chat-header -->
            <div class="chat-history">
                <ul>
                    @*<li class="clearfix">
                            <div class="message-data align-right">
                                <span class="message-data-time">10:10 AM, Today</span> &nbsp; &nbsp;
                                <span class="message-data-name">Olia</span>
                                <i class="fa fa-circle me"></i>
                            </div>
                            <div class="message other-message float-right">
                                Hi Vincent, how are you? How is the project coming along?
                            </div>
                        </li>
                        <li>
                            <div class="message-data">
                                <span class="message-data-name">
                                    <i class="fa fa-circle online"></i> Vincent
                                </span>
                                <span class="message-data-time">10:12 AM, Today</span>
                            </div>
                            <div class="message my-message">
                                Are we meeting today? Project has been already finished and I have results to show you.
                            </div>
                        </li>*@
                </ul>
            </div>
            <!-- end chat-history -->
            <div class="chat-message clearfix">
                <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"></textarea>
                @*<i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-file-image-o"></i>*@
                <button class="btn btn-primary" id="sendBtn">Send</button>
            </div>
            <!-- end chat-message -->
        </div>
        <!-- end chat -->
    </div>
</div>



@section scripts{
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    @*<script src="http://localhost:26693/signalr/hubs"></script>*@
    <script src="~/scripts/messenger.js"></script>
}

